<div id="<%= dom_id product %>" class="info-product">
  <p class="name">
    <strong>Nome:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= product.price %>
  </p>
</div>
